
  h1,h2,h3{
    color:green;
    background-color: burlywood;
  }
  .deva{
    color:green;
  }
  .for{
    color:red
  }
  h1{
    color: black;
  text-align: center;
  }
  h4{
      text-align: center;
  }
  .john{
    font-size: 14px;
  }
 .dev{
  background-color: powderblue;
 }
 .did{
  background-color:powderblue;
 }
 .con
 {
  background-color: powderblue;
 }